.Menu {
  display: flex;
  background: #A1B5C5;
  flex-direction: column;
  max-width: 250px;
  padding: 1rem;
  flex: 1;
  transition: all 0.4s ease-in-out;
}

.Menu--hide {
  margin-left: calc(-250px - 2rem);
}

.Menu-section {
  display: flex;
  flex-direction: column;
}

.Menu-octave-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}