.Menu {
  display: flex;
  background: #A1B5C5;
  flex-direction: column;
  max-width: 250px;
  padding: 1rem;
  flex: 1
}

.Menu--hide {
  display: none;
}

.Menu-section {
  display: flex;
  flex-direction: column;
}

.Menu-octave-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}