.App {
  display: flex;
  min-height: 100vh;
  background-color: #444;
}

.App-OmeContainer {
  display: flex;
  /* align-self: center; */
  justify-content: center;
  align-items: center;
  flex: 1;
}

.App-Menu-toggle {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 1px;
  font-size: 14px;
  outline: 0;
  background: none;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;

}

/* Monome Emu + Start / Stop */
.App-MainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-playBtn {
  flex-grow: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border: 0;
  color: white;
  font-size: 2.4rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  transition: all 0.1s ease;
  letter-spacing: 0.6rem;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.App-playBtn-help-text {
  font-size: 1.2rem;
}

.App-playBtn--playing {
  background: rgba(90, 90, 90, 0.4);
}

.App-Btn--paused {
  background: #6BB5F0;
}

/*Modal Styles*/
.App-modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.App-modal-content {
  background: rgb(250, 250, 250);
  position: relative;
  max-width: 600px;
  height: 350px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.App-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 0.7rem 1rem;
  background: #777;
  border: none;
  border-radius: 10%;
  color: white;
  transition: all 0.2s ease;
  outline: none;
}

.App-modal-close:hover  {
  background: #888;
  border: none;
  border-radius: 30%;
  color: white;
}

.App-modal-close:active  {
  background: #999;
  border: none;
  border-radius: 50%;
  color: white;
}

.App-modal-body {
  padding: 4rem;
}
