.App {
  display: flex;
  min-height: 100vh;
}

.App-OmeContainer {
  display: flex;
  align-self: center;
  justify-content: center;
  flex: 1;
}

.App-Menu-toggle {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

/* Monome Emu + Start / Stop */
.App-MainContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1;
}

.App-Btn--play {
  align-self: center;
  margin: 1rem;
  padding: 1rem;
}