@keyframes floatSynth{
 0% {
   transform: translateY(0);
 } 

 100% {
   transform: translateY(12px);
 }

}

.NoMidi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NoMidi-text {
  font-size: 1.6rem;
  margin: 2rem 0;
}



.NoMidi-image-synth {
  animation: floatSynth 1.5s ease infinite alternate;
}

.NoMidi-image-synth::after {
  width: 300px;
  height: 100px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  background: black;
}