@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  min-height: 100%;
  line-height: 1.5;
}

/* Input Elements */
input {
  padding: 1rem;
  
}

.label-standard {
  margin: 0.5rem 0;
}

.btn {
  margin: 1rem 0;
  padding: 1rem;
  border: 0;
  background: #efefef;
}