html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.3rem;
  min-height: 100%;
}

/* Input Elements */
input {
  padding: 1rem;
  
}

.label-standard {
  margin: 0.5rem 0;
}

.btn {
  margin: 1rem;
  padding: 1rem;
  border: 0;
  background: #efefef;
}